nav {
  background: #e0a100;;
  height: 120px;
  color: #FFFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  
}

.text-nav1 {
  font-family:'Bungee', sans-serif;
  margin: 30px;
  font-size: 40px
  
}

.text-nav2 {
  font-family:'Source Sans Pro', sans-serif;
  margin: 30px;
  font-size: 20px;  
}

div {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  margin-top: 3px;
}

@media only screen and (min-width: 1024px) {

  nav {
    background: #4056A1;
  }
 }
